<h2><%= link_to list.name, edit_list_path(list) %></h2>

<% if @sharees_per_list %>
  <% @sharees = @sharees_per_list[list.id] %>
<% end %>

<% if !@sharees.blank? %>
  (SHARED WITH: <%= @sharees %>)
<% end %>

<table>
  <%= render list.tasks %>
</table>

<%= button_to 'New Task', new_list_task_path(list), options = { method: :get } %>
