<h1>Lists</h1>

<table>
  <% @lists.each do |list| %>
    <tr>
      <td><%= link_to list.name, list %></td>
      <td><%= list.use_timeframe ? 'Uses Timeframes' : '' %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New List', new_list_path %>
