<p id="notice"><%= notice %></p>

<h2>All Tasks</h2>

<table>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.list.name %></td>
      <%= render 'layouts/task', task: task %>
    </tr>
  <% end %>
</table>
