<% @owners.each do |owner| %>
  <% list = owner.list %>
  <h2><%= link_to list.name, list_path(list) %></h2>

  <table>
    <%= render list.tasks %>
    <tr><td colspan=4><%= link_to 'New Task', new_list_task_path(list) %></td></tr>
  </table>

  <hr/>
<% end %>

<%= link_to 'New List', new_list_path %>
