// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task * {
    margin: 5px;
}

.task input {
    padding: 3px;
}

span {
    display: inline-block;
}

.priority {
    width: 50px;
    text-align: center;
}

.name {
    width: 200px;
}
